*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sidebar_background_color:#040440;
    --body_background_color:#f5f6f8;
    --title_white:#d2d3dd;
    --navigation_active_background:#2d2d69;
    --nvigation_active_color:#dcdce5;
    --navigation_color:#5a5d87;
    --title_dashboard:#050505;
    --heading_color:#101010;
    --heading_small_color:#cdcdcd;
    --card_background_color:#ffffff;
    --background_color:#f1f5f8;
    --card1_icon_background_color:#ddffec;
    --card2_icon_background_color:#e7dbff;
    --card3_icon_background_color:#ccf2ff;
    --card4_icon_background_color:#ffbde1;
    --card1_icon_color:#00a746;
    --card2_icon_color:#a200ff;
    --card3_icon_color:#0557bf;
    --card4_icon_color:#d80014;
    --card_heading_color:#444444;
    --card_small_heading_color:#cecece;

}
body{
    background-color: var(--background_color);
}
a{
    text-decoration: none;
}
/* ============== SideBar ============== */
    .layout_main .navigation_menu{
        color: var(--heading_small_color);
        font-size: 25px;
        font-weight: bold;
        padding: 20px;
        display: none;
    }
    .layout_main .sidebar_layout{
        position: fixed;
        height: 100vh;
    }
    .layout_main .sidebar_layout .sidebar_title{
        margin-bottom: 40px;
    }
    .layout_main .sidebar_layout .sidebar_title h1{
        font-size: 28px;
        font-weight: bold;
        color: var(--title_white);
    }
    .layout_main .sidebar_layout{
        background-color: var(--sidebar_background_color);
        height: 100vh;
        padding: 20px;
    }
    .layout_main .sidebar_layout .iteam_row{
        width: 100%;
        color: var(--navigation_color);
        font-size: 16px;
        font-weight: bold;
        display: flex;
        padding: 10px;
        margin: 10px 0px;
        cursor: pointer;
    }
    .layout_main .sidebar_layout .iteam_row .title{
        padding: 0px 20px;
        flex: 0.90;
    }
    .layout_main .sidebar_layout .active{
        background-color: var(--navigation_active_background);
        border-radius: 5px;
        color: var(--nvigation_active_color);
    }
    .layout_main .sidebar_layout .profile_layout{
        width: 100%;
        display: flex;
        align-items: center;
        background-color: var(--navigation_active_background);
        padding: 10px;
        border-radius: 5px;
        position: relative;
        bottom: -200px;
    }
    .layout_main .sidebar_layout .profile_layout img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .layout_main .sidebar_layout .profile_layout .profile_content{
        padding: 0px 10px;
    }
    .layout_main .sidebar_layout .profile_layout .profile_content h2{
        font-size: 18px;
        color: var(--title_white);
        font-weight: bold;
        margin-bottom: 0px;
    }
    .layout_main .sidebar_layout .profile_layout .profile_content p{
        font-size: 16px;
        color: var(--heading_small_color);
        margin-bottom: 0px;
    }
/* ==========X=== SideBar ===X========== */

/* ============== Dashboard Layout ============= */
    .layout_main .dashboard_main_layout{
        padding: 20px 40px;
        margin-left: 16.66666667%;;
    }
    .layout_main .dashboard_main_layout .searchBox{
        display: flex;
        align-items: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: var(--card_background_color);
        border-radius: 5px;
    }
    .layout_main .dashboard_main_layout .dashboard_top{
        justify-content: space-between;
        align-items: center;
    }
    .layout_main .dashboard_main_layout .searchBox i{
        color: var(--heading_small_color);
        padding: 0px 5px 0px 10px;
    }
    .layout_main .dashboard_main_layout .searchBox input{
        border: none;
        padding: 0px 5px;
        color: var(--heading_small_color);
        line-height: 2;
    }
    .layout_main .dashboard_main_layout .searchBox input::placeholder{
        color: var(--heading_small_color);
    }
    .layout_main .dashboard_main_layout .searchBox input:focus{
       outline: none;
    }
    .layout_main .dashboard_main_layout .dashboard_top h1{
        font-size: 28px;
        font-weight: 600;
        color: var(--title_dashboard);
    }
    .layout_main .dashboard_main_layout .dashboard_card_visulization{
        margin-top: 20px;
        justify-content: space-between;
    }
    .layout_main .dashboard_main_layout .dashboard_card_visulization .card_data_visulization{
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: var(--card_background_color);
        padding: 20px;
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
    }
    .layout_main .dashboard_main_layout .dashboard_card_visulization .card_data_visulization .card_icon{
        font-size: 35px;
        padding: 20px 35px;
        border-radius: 50%;
    }
    .layout_main .dashboard_main_layout .dashboard_card_visulization .card_data_visulization .informaction_data{
        padding-left: 10px;
    }
    .layout_main .dashboard_main_layout .dashboard_card_visulization .card_data_visulization .informaction_data h2{
        font-size: 20px;
        color: var(--card_small_heading_color);
        font-weight: bold;
    }
    .layout_main .dashboard_main_layout .dashboard_card_visulization .card_data_visulization .informaction_data h1{
        font-size: 35px;
        color: var(--card_heading_color);
        font-weight: bold;
    }
    .layout_main .dashboard_main_layout .dashboard_card_visulization .card_data_visulization .informaction_data p{
       color: var(--card_heading_color);
       font-weight: 500;
    }
    .layout_main .dashboard_main_layout .dashbord_graph_visulization{
        margin-top: 20px;
        justify-content: space-between;
    }
    .layout_main .dashboard_main_layout .dashbord_graph_visulization .graph_bar, .layout_main .dashboard_main_layout .dashbord_graph_visulization .graph_pie{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: var(--card_background_color);
        padding: 20px;
        border-radius: 5px;
        margin: 10px;
    }
    .layout_main .dashboard_main_layout .dashbord_graph_visulization .graph_bar .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .layout_main .dashboard_main_layout .dashbord_graph_visulization .graph_bar .heading .heading_graph h2, .layout_main .dashboard_main_layout .dashbord_graph_visulization .graph_pie .heading h2{
        font-size: 28px;
        font-weight: bold;
        color: var(--heading_color);
    }
    .layout_main .dashboard_main_layout .dashbord_graph_visulization .graph_bar .heading .heading_graph p, .layout_main .dashboard_main_layout .dashbord_graph_visulization .graph_pie .heading p{
        font-size: 18px;
        font-weight: bold;
        color: var(--heading_small_color);
    }
    .layout_main .dashboard_main_layout .dashbord_graph_visulization .graph_bar .heading .filter h2{
        font-size: 18px;
        font-weight: bold;
        color: var(--heading_small_color);
    }
    .layout_main .dashboard_main_layout .dashbord_graph_visulization .graph_pie .pie_chart_body, .layout_main .dashboard_main_layout .dashbord_graph_visulization .graph_bar .bar_graph_body{
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }
/* ==========X==== Dashboard Layout ====X========= */